{% extends 'FrontEnd/front.html.twig' %}

{% block title %}AgriWise | Services{% endblock %}




{% block content %}

  
        <!-- Page Title -->
        <div
          class="page-title dark-background"
          data-aos="fade"
          style="background-image: url(assets/assetsFront/img/page-title-bg.webp)"
        >
          <div class="container position-relative">
            <h1>Services</h1>
            <nav class="breadcrumbs">
              <ol>
                <li><a href="index.html">Home</a></li>
                <li class="current">Services</li>
              </ol>
            </nav>
          </div>
        </div>
        <!-- End Page Title -->

        <!-- Services Section -->
        <section id="services" class="services section">
          <!-- Section Title -->
          <div class="container section-title" data-aos="fade-up">
            <h2>SERVICES</h2>
            <p>
              Découvrez nos services innovants pour une agriculture intelligente
              et durable
            </p>
          </div>
          <!-- End Section Title -->
          <div class="content">
            <div class="container">
              <div class="row g-0 service-cards">
                <!-- Ajout de la classe service-cards -->
                <!-- Service 1: Gestion des Parcelles -->
                <div class="col-lg-3 col-md-6">
                  <div class="service-item">
                    <span class="number">01</span>
                    <div class="service-item-icon">
                      <i class="fas fa-map-marked-alt"></i>
                    </div>
                    <div class="service-item-content">
                      <h3 class="service-heading">Gestion des Parcelles</h3>
                      <p>
                        Optimisez la gestion de vos parcelles agricoles grâce à
                        des outils de suivi et de planification.
                      </p>
                    </div>
                  </div>
                </div>

                <!-- Service 2: Suivi des Cultures et Récoltes -->
                <div class="col-lg-3 col-md-6">
                  <div class="service-item">
                    <span class="number">02</span>
                    <div class="service-item-icon">
                      <i class="fas fa-leaf"></i>
                    </div>
                    <div class="service-item-content">
                      <h3 class="service-heading">
                        Suivi des Cultures et Récoltes
                      </h3>
                      <p>
                        Gardez une trace de vos cultures et récoltes pour
                        prendre des décisions éclairées.
                      </p>
                    </div>
                  </div>
                </div>

                <!-- Service 3: Location de Matériel Agricole -->
                <div class="col-lg-3 col-md-6">
                  <div class="service-item">
                    <span class="number">03</span>
                    <div class="service-item-icon">
                      <i class="fas fa-tractor"></i>
                    </div>
                    <div class="service-item-content">
                      <h3 class="service-heading">
                        Location de Matériel Agricole
                      </h3>
                      <p>
                        Accédez à un large choix de matériel agricole en
                        location pour répondre à vos besoins saisonniers.
                      </p>
                    </div>
                  </div>
                </div>

                <!-- Service 4: Marketplace de Produits Agricoles -->
                <div class="col-lg-3 col-md-6">
                  <div class="service-item">
                    <span class="number">04</span>
                    <div class="service-item-icon">
                      <i class="fas fa-shopping-cart"></i>
                    </div>
                    <div class="service-item-content">
                      <h3 class="service-heading">
                        Marketplace de Produits Agricoles
                      </h3>
                      <p>
                        Achetez et vendez des produits agricoles frais et locaux
                        sur notre plateforme en ligne.
                      </p>
                    </div>
                  </div>
                </div>

                <!-- Service 5: Enchères de Terrains Agricoles -->
                <div class="col-lg-3 col-md-6">
                  <div class="service-item">
                    <span class="number">05</span>
                    <div class="service-item-icon">
                      <i class="fas fa-handshake"></i>
                    </div>
                    <div class="service-item-content">
                      <h3 class="service-heading">
                        Enchères de Terrains Agricoles
                      </h3>
                      <p>
                        Participez à des enchères pour acheter ou vendre des
                        terrains agricoles de qualité.
                      </p>
                    </div>
                  </div>
                </div>

                <!-- Service 6: Formations et Ressources Agricoles -->
                <div class="col-lg-3 col-md-6">
                  <div class="service-item">
                    <span class="number">06</span>
                    <div class="service-item-icon">
                      <i class="fas fa-graduation-cap"></i>
                    </div>
                    <div class="service-item-content">
                      <h3 class="service-heading">
                        Formations et Ressources Agricoles
                      </h3>
                      <p>
                        Accédez à des formations continues pour apprendre les
                        meilleures pratiques agricoles.
                      </p>
                    </div>
                  </div>
                </div>

                <!-- Service 7: Analyse de Rendement et Optimisation -->
                <div class="col-lg-3 col-md-6">
                  <div class="service-item">
                    <span class="number">07</span>
                    <div class="service-item-icon">
                      <i class="fas fa-chart-bar"></i>
                    </div>
                    <div class="service-item-content">
                      <h3 class="service-heading">
                        Analyse de Rendement et Optimisation
                      </h3>
                      <p>
                        Améliorez vos résultats grâce à l’analyse détaillée de
                        vos rendements agricoles.
                      </p>
                    </div>
                  </div>
                </div>

                <!-- Service 8: Gestion Durable de l'Agriculture -->
                <div class="col-lg-3 col-md-6">
                  <div class="service-item">
                    <span class="number">08</span>
                    <div class="service-item-icon">
                      <i class="fas fa-seedling"></i>
                    </div>
                    <div class="service-item-content">
                      <h3 class="service-heading">
                        Gestion Durable de l'Agriculture
                      </h3>
                      <p>
                        Encouragez une gestion durable et respectueuse de
                        l’environnement avec nos outils.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- /Services Section -->
        

{% endblock %}

